<!DOCTYPE HTML>
<html>
	<head>
		<title>David's Page</title>f
	</head> 
	<body style="background-color:#BDBDBD;">
		<img src="CityBanner.png" style="width:100%;"/>
		<div align="center">
			<h1>Cabbage Man</h1>
			<table>
				<tr>
					<td valign="top">
						<h3>Powers:</h3>
						<ul>
							<li>The power to cabbage!</li>
							<li>Photosynthesis</li>
						</ul>
						
						<h3>Some interesting facts about Cabbage Man:</h3>
						<p>Cabbage Man once challenged <b>Chuck Noris</b> to a duel. Now Mr. Noris always eats his vegetables.</p>
						<p>Cabbage Man has proved Ferma's last theorem</p>
						<p>Cabbage Man's last name is 'Man'. His first name is 'Cabbage'.</p>

						<table>
							<tr>
								<td><img src="CabbageSmall.png"/></td>
								<td><img src="CabbageSmall.png"/></td>
								<td><img src="CabbageSmall.png"/></td>
							</tr>
						</table>

					</td>
					<td>
						<img src="CabbageMan.png"/>
					</td>
				</tr>
			</table>
		</div>
		<button type="button", onclick="alert('Photosynthesis!')">Catch Phrase</button>
		<button type="button" onclick="cabbage()">The Power To Cabbage</button>
	</body>
</html>		