<!DOCTYPE HTML>
<html>
	<head>
		<title>Tristan's Favorite Hero</title>
	</head>
	<body style="background-color:#F2F3F4;">
		<img src="CityBanner.png" style="width:50%;"/>
		<div align="center">
			<h1>This is Nico di Angelo</h1>
			<table>
				<tr>
					<td valign="top">
						<h3>Powers:</h3>
						<ul>
							<li>Shadow Travel</li>
							<li>Raise the Dead</li>
							<li>Sygiran? Iron Sword</li>
						</ul>
						<h3>Family</h3>
						<ul>
							<li>Father: Hades</li>
							<li>Mother: ?forgot name</li>
							<li>Sister(s): Bianca di Angelo, Hazel L.
						</ul>
						<h3>random Facts:(?)</h3>
						<p>Greek</p>
						<p>Narwhal</p>
						<p>Snow</p>

						<table>
							<tr>
								<td><img src="CabbageSmall.png"/></td>
								<td><img src="CabbageSmall.png"/></td>
								<td><img src="CabbageSmall.png"/></td>
							</tr>
						</table>

					</td>
					<td>
						<img src="CabbageMan.png"/>
					</td>
				</tr>
			</table>
		</div>
		<button type="button", onclick="alert('Don't touch me!')">Quote</button>
		<button type="button" onclick="A Zombie waits for orders()">Raise the Dead</button>
</html>